body {
    margin: 0;
    background: #0b6b2d;
    overflow: hidden;
}

#table {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.card {
    width: 80px;
    height: 120px;
    border: 2px solid black;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    font-weight: bold;

    position: absolute;

    user-select: none;
    touch-action: none;
    cursor: grab;
}

.back {
    background: navy;
    color: white;
}

.front {
    background: white;
    color: black;
}

#card-preview {
    position: fixed;

    inset: 0;

    display: none;

    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.5);

    z-index: 99999;
}

#preview-card {
    width: 240px;
    height: 360px;

    border: 4px solid black;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 72px;
    font-weight: bold;

    background: white;
}

#close-preview {
    position: absolute;

    top: 20px;
    right: 20px;

    width: 60px;
    height: 60px;

    border: none;
    border-radius: 50%;

    font-size: 32px;

    cursor: pointer;
}